@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bio-dark: #021f14;
  --bio-white: #fdfdfc;
  --bio-sand-beige: #f6f6f3;
  --bio-green-200: #29cc5d;
  --bio-green-500: #26bb55;
  --bio-green-700: #21a34a;
  --bio-grey: #5e6e68;
  --bio-beige: #f6f6f3;
}

@theme inline {
  --color-bio-dark: var(--bio-dark);
  --color-bio-white: var(--bio-white);
  --color-bio-sand-beige: var(--bio-sand-beige);
  --color-bio-green-200: var(--bio-green-200);
  --color-bio-green-500: var(--bio-green-500);
  --color-bio-green-700: var(--bio-green-700);
  --color-bio-grey: var(--bio-grey);
  --color-bio-grey: var(--bio-beige);

  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-montagu), ui-serif, Georgia, serif;
  --font-montagu-light: var(--font-montagu-light);
  --radius-bio-sm: 12px;
  --radius-bio-md: 16px;
  --radius-bio-lg: 24px;
  --radius-bio-xl: 32px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility text-label {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1;
  text-transform: uppercase;
}

@utility text-essen {
  white-space: pre-line;
  font-family: var(--font-serif);
  font-weight: 250;
  font-size: 32px;
  line-height: 1.25;
}

@utility text_overline {
  font-family: var(--font-inter);
  font-weight: 350;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.05em;
}

@utility text_slide_header {
  font-family: var(--font-serif);
  font-weight: 250;
  font-size: 48px;
  line-height: 1;
}
@utility text_slide {
  font-family: var(--font-inter);
  font-weight: 250;
  font-size: 16px;
  line-height: 1;
}

@utility text_testimonial {
  font-family: var(--font-serif);
  font-weight: 350;
  text-align: center;
  font-size: 24px;
}

@utility text-h1 {
  font-family: var(--font-serif);
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.05;
}

@utility text-h2 {
  font-family: var(--font-serif);
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

@utility text-h2-section {
  font-family: var(--font-serif);
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

@utility text-h3 {
  font-family: var(--font-serif);
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
}

@utility text-body {
  font-size: 16px;
  line-height: 1.65;
}

@utility text-body-sm {
  font-size: 14px;
  width: 400;
  line-height: 1.5;
}

@utility section-py {
  padding-top: 100px;
  padding-bottom: 100px;
}
